
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#btn-color{
    background-color: #3271b3;
}

#text-card{
    background-color: #3271b3;
    height: 3px;
}

.rest-text-card{
    background-color: whitesmoke;
    height: 3px;
}

#card-content{
    margin-left: 100px;
}

#img-1 {
    height: 100px;
}

.categories{
    margin-left: 100px;
    display: flex;
    gap: 20px;
    
}

.categories a{
    text-decoration: none;
}

.card-shape{
    margin-left: 100px;
    width: 200px;
}

.card-shape img{
    width: 170px;
    height: 130px;
}

.line-through{
    text-decoration: line-through;
}

.card-bg{
    background-color: whitesmoke;
}

#card-height{
    height: 30px;
}

#webinar-card{
    margin-left: 50px;
    margin-right: 120px;
}

#webinar-join-btn{
    color: white;
    margin-top: 20px;
    margin-left: 450px;
    background-color: #3271b3;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
}

#apply-btn{
    color: white;
    background-color: #3271b3;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
}

.instructor{
    margin-top: 100px;
    padding: 70px;
    background-color: whitesmoke;
}

.card-txt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 60px;
    margin: 16px;
    padding: 16px;
    border: 1px solid;
    border-radius: 10px;

}

.small-card img{
    width: 40px;
    height: 60px;
    padding-bottom: 14px;
}

.fav-icon{
    display: flex;
}

.heart-icon{
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    margin-top: 10px;
}

.card-body{
    height: 80px;
    
}

.try-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}