
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#btn-color{
    background-color: #3271b3;
}

#text-card{
    background-color: #3271b3;
    height: 3px;
}

.rest-text-card{
    background-color: whitesmoke;
    height: 3px;
}

#card-content{
    margin-left: 100px;
}

#img-1 {
    height: 100px;
}

.categories{
    margin-left: 100px;
    display: flex;
    gap: 20px;
    
}

.categories a{
    text-decoration: none;
}

.card-shape{
    margin-left: 100px;
    width: 200px;
}

.card-shape img{
    width: 170px;
    
}

.line-through{
    text-decoration: line-through;
}

.card-bg{
    background-color: whitesmoke;
}

#card-height{
    height: 30px;
}

